* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #8b8d91;
  color: #222;
}



.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 25px;
  background-color: #eee9e99f;
  border-radius: 8px;
}


h1 {
  margin-bottom: 8px;
  font-size: 28px;
}

h2 {
  margin-bottom: 12px;
  font-size: 22px;
}

h3 {
  margin-bottom: 6px;
}


p {
  margin-top: 0;
  margin-bottom: 12px;
  color: #555;
  line-height: 1.4;
}


button {
  background-color: #003bb9;
  color: #fff;
  border: none;
  padding: 9px 15px;
  margin-right: 10px;
 
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #1e4fd8;
}

button:disabled {
  background-color: #a5b4fc;
  cursor: not-allowed;
}


input,
select {
  width: 100%;
  padding: 9px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input:focus,
select:focus {
  outline: none;
  border-color: #2563eb;
}


.auth-box {
  max-width: 420px;
  margin: 60px auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 6px;
}

.auth-box h2 {
  margin-bottom: 15px;
}

.auth-box button {
  width: 100%;
  margin-top: 8px;
}


.home-actions {
  margin-top: 25px;
}

.home-actions button {
  margin-right: 10px;
}


.quiz-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.quiz-card h3 {
  margin-top: 0;
}

.quiz-card button {
  margin-top: 8px;
}
.quiz-card button {
  margin-right: 6px;
}

.quiz-question {
  margin-bottom: 20px;
}

.quiz-options {
  margin-top: 10px;
}

.quiz-options button {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 8px;
  background-color: #f1f5f9;
  color: #000;
}

.quiz-options button:hover {
  background-color: #e2e8f0;
}

.quiz-options button.selected {
  background-color: #c7d2fe;
}


.result-box {
  text-align: center;
}

.result-box h2 {
  margin-bottom: 10px;
}

.result-answer {
  margin-bottom: 8px;
}



@media (max-width: 600px) {
  .container {
    margin: 20px;
    padding: 20px;
  }

  .home-actions button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.nav-actions a {
  margin-right: 15px;
  text-decoration: none;
  color: #2563eb;
  font-size: 14px;
}

.nav-actions a:hover {
  text-decoration: underline;
}

.user-text {
  margin-right: 12px;
  font-size: 14px;
  color: #333;
}
